@layer reset, base, navigation, components, resume, projectdetails;

/*reset*/
@layer reset {
    * {
        margin: 0;
        padding: 0;
    }

    html, body {
        font-size: 16px;
    }

    p {
        font-family: "Roboto Flex", sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }
}

/*colour variables*/
@layer base {
    :root {
        --background-color: FFFFFFF;
        --background-dark: #00171F;
        --background-light: #F6F7EB;
        --text-dark: #00171F; 
        --text-light: #F6F7EB;
        --accent-color: #007EA7;
        --accent-dark: #003459;
        --text-LG: 2.5rem;
        --text-M: 2rem;
        --text-S: 1.5rem;
        --text-caption: 1rem;
    }

    body {
        color: var(--text-dark);
    }

    a {
        text-decoration: none;
        color: inherit;
        font-family: "Red Rose", serif;
        font-size: 1.5rem;
        font-weight: 300;
    }

}

@layer navigation {
    header {
        background-color: var(--background-dark);
        color: var(--text-light);        
        position: sticky;
        top: 0;
        z-index: 1;

       nav {
            display: flex;
            justify-content: space-between;
            padding: 1rem 160px;
            
            ul {
                list-style: none;
                display: inline-flex;
                align-items: center;
                gap: 1.5rem;
                font-size: var(--text-S);
                font-family: "Red Rose", sans-serif;
                font-weight: 300;

                li:hover {
                    opacity: 80%;
                    border-bottom: 1px solid var(--accent-color);
                }
            }
        } 
    }
}

@layer components {
    main {
        /*heading globals*/            
        h1 {
            font-family: "Bebas Neue", sans-serif;
            font-size: 6rem;
            font-weight: 500;
            letter-spacing: 2rem; /*calcs to 3rem, to test*/
        }
        
        h2 {
            font-family: "Red Rose", serif;
            font-size: 3rem;
            font-weight: 300;
        }

        h3 {
            font-family: "Red Rose", serif;
            font-size: 2rem;
            font-weight: 300;
            margin-bottom: 1.5rem;
        }

        /*hero h2 and project name h2, same id applied.*/
        #title-description {
                font-family: "Ibarra Real Nova", serif;
        }

        /*hero section*/
        .hero {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            background-color: var(--background-light);
            padding: 6rem 160px; 
            gap: 4rem;
            align-items: center;
            overflow: hidden;
            

            & > img, div {
                width: 100vw;
                max-width: 700px;
                object-fit: cover;
            }      

            ul {
                margin-top: 1rem;

                li {
                    display: inline;
                    margin: 1rem;  
                    
                    a img {
                        opacity: 60%;
                        width: 1.5rem;
                    }
                }
            }
        }

        /*Home skills section.*/
        .skills {
            padding: 6rem 160px;
            background-color: var(--background-light);
            
            h2 {
                display: flex;
                justify-content: center;
                margin-bottom: 6rem;
            }

            .skill-container {
                display: flex;
                gap: 4rem;
                flex-wrap: wrap;
                justify-content: center;
                
                li {
                    font-family: "Roboto Flex", sans-serif;
                    font-size: 1.5rem; 
                    font-weight: 300;
                    list-style: none;
                    line-height: 2rem; /*Design is gap 12px, but seems congested*/
                }

                #future-skills {
                    display: none;
                }
            }
        }

        /*featured work section & porfolio.html*/
        .portfolio {
            display: flex;
            flex-direction: column;
            padding: 6rem 160px;
            background-color: var(--background-light);
            gap: 4rem;
            
            h2 {
               text-align: center; 
            }

            .alternate {
                flex-direction: row-reverse;
            }  

            & > a {
                text-align: end;
                background-color: #007EA7;
                border-radius: 100px;
                padding: 0.5rem 3rem;
                /*max-width: fit-content;*//*resets alignment for some reason*/
                color: var(--text-light);
                
                &:hover {
                    background-color: #003459;
                }                
            }

            .portfolio-card {
                display: flex;
                justify-content: space-between;

                & > img {
                    width: 45%;
                    object-fit: cover;
                }
                
                & > div {
                    width: 45%;
                    align-content: center;
                
                    a {
                        background-color: #007EA7;
                        border-radius: 100px;
                        padding: 0.5rem 3rem;
                        color: var(--text-light);

                        &:hover {
                            background-color: #003459;
                        }
                    }

                    /*portfolio.html card tech stack*/
                    .project-stack {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        list-style: none;
                        margin-bottom: 1.5rem;
                        gap: 1rem;
                        font-family: "Roboto Flex", sans-serif;
                        font-size: 1rem; 
                        font-weight: 200;
                        line-height: 2rem; /*Design is gap 12px, but seems congested*/                        
                    }
                }
            }
        }

        /*about me section*/
        .background {
            display: flex;
            flex-direction: column;
            background-color: var(--background-light);
            padding: 6rem 160px;
            gap: 4rem;
            
            h2, div {
               text-align: center; 
            }

            div > img {
                width: 265px;
                height: 265px;
                object-fit: cover;
                border-radius: 0.5rem;
                margin: 0.5rem;
            }
        }
    }

    /*footer*/
    footer {
        display: flex;
        flex-wrap: wrap;
        padding: 6rem 160px;
        gap: 2rem;
        justify-content: space-between;
        background-color: var(--background-dark);
        color: var(--text-light);
        font-family: "Red Rose", serif;

        button{
            background-color: #007EA7;
            border-radius: 100px;
            padding: 0.5rem 3rem;
            color: var(--text-light);
            height: fit-content;
            font-size: 1rem;

            &:hover {
                background-color: #003459;
            }            
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: flex-start;

            .logo-img {
                margin-bottom: 3rem;
            }
        }

        p {
            font-size: 1rem;
        }
    }
}

/*resume styling*/
@layer resume {
    .resume-main {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 5rem 0rem 5rem 0rem;
        background-color: var(--background-light);
        
        /*personal details section*/
        .banner {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0px 160px;
            gap: 1.5rem;

            h1 {
                font-size: 1.5rem;
                letter-spacing: initial;
            }

            h4 {
                font-family: "Red Rose", sans-serif;                
                font-weight: 300;
            }

            div {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem 2rem;
                justify-content: space-between;
                font-family: "Red Rose", serif;
                font-size: 1rem;
                font-weight: 300;
            }
        }

        .resume-aboutme, .resume-portfolio {
            display: flex;
            flex-direction: column;
            padding: 0px 160px;
            gap: 1.5rem;        
        }

        .resume-skills {
            display: flex;
            flex-direction: column;
            padding: 0px 160px;
            gap: 1rem;             

            div {
                line-height: 0.5rem;

                div {
                    display: flex;
                    align-items: center;
  
                    h3 {
                        width: 180px;
                    }
                }
            }
        }

        .workbackground {
            display: flex;
            flex-direction: column;
            padding: 0px 160px;
            gap: 1.5rem;         

            div {
                gap: 1rem;
                font-family: "Roboto Flex", sans-serif;
                font-size: 1.5rem; 
                font-weight: 300;
                list-style: none;
                line-height: 2rem;                
                
                div {
                display: flex;
                justify-content:space-between;
                }
            
                ul {
                    list-style: disc;
                }            
            }
        }

        .education {
            display: flex;
            flex-direction: column;
            padding: 0px 160px;
            gap: 1.5rem;
            
            p {
                line-height: 1.5rem;
            }
        }
    }
}

/*project template styling*/
@layer projectdetails {
    .project-main {
        display: flex;
        flex-direction: column;
        padding: 0.7rem 160px 6rem 160px;/*top padding is 6rem-height of H2(84px)*/
        background-color: var(--background-light);
        gap: 6rem;

        .project {
            h2 {
                position: relative; /*if static then z-index with img doesnt work*/
                top: 84px;
                color: var(--text-dark);
                background-color: rgba(255 255, 255, 0.1);/*Semi-transparent background*/
                backdrop-filter: blur(5px);/*Blurs the background behind the element*/
                border-radius: 0.5rem;
            }

            img {
                width: 100%;
                max-height: 600px;
                object-fit: cover;
                border-radius: 0.5rem;
            }            
        }

        h2 {
            margin-bottom: 1.5rem;
            text-align: center;
        }

        .features-list {
            font-family: "Roboto Flex", sans-serif;
            font-size: 1.5rem; 
            font-weight: 300;
            line-height: 2rem;                      
        }

        .project-stack {
            .tech-container {
                display: flex;
                gap: 4rem;
                flex-wrap: wrap;
                justify-content: center;
                
                li {
                    font-family: "Roboto Flex", sans-serif;
                    font-size: 1.5rem; 
                    font-weight: 300;
                    list-style: none;
                    line-height: 2rem; /*Design is gap 12px, but seems congested*/
                }
            }
        }

        /*pagination and front/backend links*/
        .links-pagination {
            display: flex;
            flex-direction: column;
            gap: 6rem;

            .links {
                display: flex;
                justify-content: center;
                gap: 6rem;

                a {
                    background-color: #00A9E0;
                    color: var(--text-dark);
                    border-radius: 5rem;
                    padding: 0.5rem 1.5rem;
                    text-align: center;
                }
            }

            .pagination {
                display: flex;
                justify-content: center;
                gap: 3rem;

                h3 {
                    font-size: 1.5rem;
                }
            }
        }




    }
}