@layer reset, base, navigation, components, resume, projectdetails;

/*reset*/
@layer reset {
    * {
        margin: 0;
        padding: 0;
    }

    html, body {
        font-family: var(--var-font-fam-p);
        font-size: 16px;
    }
}

/*colour variables*/
@layer base {
    :root {
        --background-color-primary: #FAFAFA;
        --background-color-secondary: #D4D4D4;
        --background-color-alternate: #1A1A1A;
        --background-color-navfoot: #050505;
        --text-color-primary: #050505; 
        --text-color-secondary: #FAFAFA;
        --text-color-alternate: #373737;
        --accent-color: #8ACEFF;
        --accent-dark: #171E23;
        --font-size-LG: 2rem;
        --font-size-M: 1.5rem;
        --font-size-S: 1rem;
        --font-size-caption: 1rem;
        --var-font-fam-h1: "Bebas Neue", sans-serif;
        --var-font-fam-h2alternate: "Ibarra Real Nova", serif;
        --var-font-fam-headings: "Red Rose", serif;
        --var-font-fam-a: "Red Rose", serif;
        --var-font-fam-body: "Roboto Flex", sans-serif;
    }

    body {
        color: var(--text-color-primary);
        background-color: var(--background-color-primary);
    }
}

@layer navigation {
    header {      
        position: sticky;
        top: 0;
        z-index: 1;

       nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 10rem;

            @media (600px < width < 992px) {
                padding: 1rem 4rem;
            }

            @media (width < 600px) {
                padding: 1rem 1rem;
            }
            /*hides the menue icon for screen sizes above 992px*/
            .menu-toggle {
                @media (width > 992px) {
                    display: none;
                }
            }

            ul {
                display: inline-flex;
                align-items: center;
                gap: 1.5rem;
                /*when the JS code add the class active, the following code is added*/
                &.active {
                    display:flex;
                }
                /*the styling of the actual dropdown menu, only gets applied for screen < 992px*/
                @media (width < 992px) {
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    top: 60px;
                    right: 0px;
                    width: 100%;
                    background-color: var(--background-color-alternate);
                    text-align: right;
                    gap: 0rem;
                }

                li {
                    border-bottom: 1px solid var(--background-color-navfoot);
                    transition: opacity 0.2s, bottom-border 0.2s;

                    @media (width < 992px) {
                        border-bottom: 1px solid var(--background-color-secondary);
                        width: 100%;
                        padding-right: 8rem;
                    }

                    @media (width < 600px) {
                        padding-right: 2rem;
                    }
                
                }

                li:hover {
                    opacity: 80%;
                    border-bottom: 1px solid var(--accent-color);
                }
            }
        } 
    }
}

@layer components {
    body {
        /*heading globals*/            
        h1 {
            font-family: var(--var-font-fam-h1);
            font-size: 6rem;
            font-weight: 500;
            letter-spacing: 43%;

            @media (width < 600px) {
                font-size: 5rem;
            }
        }
        
        h2 {
            font-family: var(--var-font-fam-headings);
            font-size: 4rem;
            font-weight: 400;

            @media (width < 600px) {
                font-size: 2.5rem;
            }
        }

        h3 {
            font-family: var(--var-font-fam-headings);
            font-size: 3rem;
            font-weight: 400;

            @media (width < 600px) {
                font-size: 2rem;
            }
        }

        h4 {
            font-family: var(--var-font-fam-headings);
            font-size: 2rem;
            font-weight: 400;

            @media (width < 600px) {
                font-size: 1rem;
            }
        }

        h5 {
            font-family: var(--var-font-fam-headings);
            font-size: 1.5rem;
            font-weight: 400;

            @media (width < 600px) {
                font-size: 1rem;
            }
        }

        /*hero h2 and project name h2, same id applied.*/
        #title-description {
                font-family: var(--var-font-fam-h2alternate);
                letter-spacing: 18%;
        }

/*
        .scrollFade {
            animation: fadeUp both;
            animation-timeline: view();
            animation-range: entry 50% cover 100vh;
        }

        @keyframes fadeUp {
            from {
                opacity: 0;
                transform: translateY(100px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }*/

        /*section style global*/
        section, footer, article {
            padding: 6rem 10rem;
            display: flex;
            flex-wrap: wrap;
            gap: 6rem; 

            @media (width < 992px) {
                padding: 4rem 4rem;
                gap: 2rem;
            }

            @media (width < 600px) {
                padding: 2rem 1rem;
                gap: 1rem;
            }
        }

        /*Paragraph style global*/
        p {
            font-family: var(--var-font-fam-body);
            font-size: var(--font-size-M);
            font-weight: 300;
            line-height: 2rem;
            margin-bottom: 1.5rem;

            @media (width < 600px) {
                font-size: var(--font-size-S);
                line-height: 1.5rem;
                margin-bottom: 1rem;
            }
        }

        /*list style global*/
        ol, ul {
            font-family: var(--var-font-fam-body);
            font-size: var(--font-size-M); 
            font-weight: 300;
            line-height: 2rem; /*Design is gap 12px, but seems congested*/
            list-style: none;

            @media (width < 600px) {
                font-size: var(--font-size-S);
                line-height: 1.5rem;
            }
            
            li {
                margin-block: 1rem;
            }
        }

        /*resume work background*/
            .style-visible {
                list-style: disc;
            }            

        /*Link style global*/
        a {
            text-decoration: none;
            color: inherit;
            font-family: var(--var-font-fam-a);
            font-size: var(--font-size-M);
            font-weight: 300;

            @media (width < 600px) {
                font-size: var(--font-size-S);
                line-height: 1.5rem;
            }
        } 

        /*Button styles global*/
        #button-style {
            background-color: var(--background-color-alternate);
            color: var(--text-color-secondary);
            padding: 0.5rem 3rem;
            height: fit-content;
            width: fit-content;
            border-radius: 5rem;
            text-align: center;
            font-weight: 400;
            transition: background-color 0.2s, color 0.2s;
            
            &:hover {
                background-color: var(--accent-color);
                color: var(--text-color-alternate);
            }  
        }

        /*Colour theme class globals*/
        .light-on-dark {
            background-color: var(--background-color-navfoot);
            color: var(--text-color-secondary);
        }

        .dark-on-light {
            background-color: var(--background-color-primary);
            color: var(--text-color-alternate);

            h2, h3, h4 {
                color: var(--text-color-primary);
            }
        }

        .light-on-dark-alternate {
            background-color: var(--background-color-alternate);
            color: var(--text-color-secondary);
        }

        .dark-on-light-alternate {
            background-color: var(--background-color-secondary);
            color: var(--text-color-alternate);

            h2, h3, h4 {
                color: var(--text-color-primary);
            }
        }
    }

    main {
        /*hero section*/
        .section_hero {
            justify-content: space-around;
            align-items: center;
            gap: 0rem;

            div {
                width: clamp(20.5rem, 50%, 50rem);
                overflow: hidden;

                @media (width < 992px) {
                    width: 100%;
                }
            }      

            img {
                width: 100%;
                object-fit: cover;
                object-position: 50% 100%;
                border-radius: 0.5rem;
            }

            ul {
                display: flex;
                margin-top: 1rem;

                li {
                    margin-inline: 1rem;  
                    color: var(--background-color-secondary);
                    
                    img {/*color to be off-white*/
                        opacity: 75%;
                        width: 1.5rem;
                        background-color: var(--text-color-secondary);
                        border-radius: 5rem;
                    }
                }
            }
        }

        /*Home skills section.*/
        .section_skills {
            flex-direction: column;

            h2 {
                text-align: center;
            }

            .skill-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 3rem;

                #future-skills {
                    display: none;
                }
            }
        }

        /*featured work section & porfolio.html*/
        .section_portfolio {
            flex-direction: column;
            
            h2 {
               text-align: center; 
            }

            .alternate {
                flex-direction: row-reverse;
            }  

            .portfolio-card {
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                gap: 1rem;
                border-radius: 1rem;
                border: 0.1rem solid var(--accent-color);
                transition: transform 0.2s ease, filter 0.2s ease;

                &:hover {
                    filter: drop-shadow(0.3rem 0.3rem 0.5rem var(--accent-color));
                    transform: scale(1.02);
                }
                

                @media (width < 600px) {
                    flex-direction: column-reverse;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: hidden;
                    width: 50%;
                    gap: 1rem;
                    border-radius: 1rem;

                    @media (width < 600px) {
                        width: 100%;
                    }
                    
                    /*portfolio.html card tech stack*/
                    .project-stack {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        margin-bottom: 1.5rem;
                        gap: 1rem;
                        
                        li {
                            margin: 0;
                            font-size: var(--font-size-S);
                        }
                    }
                }
            }
        }

        /*about me section*/
        .background {
            flex-direction: column;
            
            h2, .hobbies {
               text-align: center; 
            }

            .hobbies img {
                width: 13rem;
                height: 13rem;
                object-fit: cover;
                border-radius: 0.5rem;
                margin: 0.5rem;
            }

            .background_info {
                p {
                    margin-bottom: 3rem;

                    @media (width < 600px) {
                        margin-bottom: 1.5rem;
                    }
                }

                .about_pic {
                    float: left;
                    height: 50vh;
                    overflow: hidden;
                    object-fit: cover;
                    margin-right: 2rem;
                    margin-bottom: 2rem;

                    @media (width < 600px) {
                        width: 50%;
                        margin-bottom: 1.5rem;
                    }
                    
                    img {
                        height: 100%;
                    }
                }
            }
        }
    }

    /*footer*/
    footer {
        justify-content: space-between;
        font-family: var(--var-font-fam-a);
        
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            
            .logo-img {
                margin-bottom: 3rem;
            }

            a img {
                margin-right: 1rem;
                width: 1.5rem;
            }
        }

        div + div {
            align-items: flex-end;
        }

        p {
            font-size: var(--font-size-S);
        }

        button {
            border: solid 1px var(--accent-color);
        }
    }
}

/*resume styling*/
@layer resume {
    .resume-main {
        /*personal details section*/
        .banner {
            text-align: center;
            gap: 1.5rem;
            padding: 6rem 10rem;

            @media (width < 600px) {
                padding: 4rem 4rem;
            }

            h1 {
                font-size: 1.5rem;
                letter-spacing: initial;
            }

            h4 {  
                font-weight: 300;
            }

            div {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem 2rem;
                justify-content: space-around;
            }
        }

        section {
            flex-direction: column;    
            gap: 4rem;
            padding: 3rem 10rem;

            @media (width < 992px) {
                padding: 2rem 4rem;
                gap: 2rem;
            }

            @media (width < 600px) {
                padding: 2rem 1rem;
                gap: 1rem;
            }
        }

        .resume-skills {          
            .grid-skill {
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-template-rows: repeat(5, auto);
                row-gap: 2rem;
                column-gap: 1rem;

                @media (width < 600px) {
                    grid-template-columns: 1fr;
                    row-gap: 1rem;
                }
            }
        }

        .workbackground {
            & > div {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .grid-work {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    margin-bottom: 1rem;

                    div + div {
                        text-align: center;
                    }

                    div + div + div {
                        text-align: right;
                    }
                }    
                
                li {
                    list-style-type: disc;
                }
            }
        }

        .education {
            div > span {
                display: flex;
                justify-content: space-between;
            }

            p {
                line-height: 1.5rem;

                span {
                    font-weight: 400;
                }
            }
        }
    }
}

/*project template styling*/
@layer projectdetails {
    .project-main {
        flex-direction: column;
        
        section {
            flex-direction: column;
            gap: 1.5rem;
            position: relative;
        }

        .section_num {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15.6rem;
            height: 15.6rem;
            border: 0.75rem solid #929292;
            border-radius: 10rem;
            position: absolute;
            left: -6.5rem;
            top: 3rem;

            @media (600px <= width < 992px) {
                width: 8rem;
                height: 8rem;
                border: 0.5rem solid #929292;
                left: -3rem;
                top: -2rem;
            }

            @media (width < 600px) {
                width: 2.5rem;
                height: 2.5rem;
                border: 0.1rem solid #929292;
                left: 1rem;
                top: 0rem;
            }
            
            p {
                font-family: var(--var-font-fam-headings);
                color: #929292;
                font-size: 15rem;
                font-weight: 400;

                @media (600px <= width < 992px) {
                    font-size: 8rem;
                }

                @media (width < 600px) {
                    font-size: 2rem;
                }
            }
        }        

        .project {
            margin-top: -12rem;
            padding-bottom: 8rem;

            @media (width < 600px) {
                margin-top: -10rem;
                padding-bottom: 4rem;
            }

            h2 {
                position: relative; /*if static then z-index with img doesnt work*/
                top: 8rem;
                color: var(--text-color-primary);
                background-color: rgba(255 255, 255, 0.2); /*Semi-transparent background*/
                backdrop-filter: blur(5px); /*Blurs the background behind the element*/
                border-radius: 0.5rem;
                width: 100%;
                text-align: center;
            }

            img {
                width: 100%;
                max-height: 600px;
                object-fit: cover;
                border-radius: 0.5rem;
            }            
        }

        h2 {
            margin-bottom: 1.5rem;
            
        }

        .features-list, .problems-list {
            list-style: disc;                     
        }

        .tech-container {
            display: flex;
            gap: 4rem;
            flex-wrap: wrap;
            justify-content: center;
        }

        /*pagination and front/backend links*/
        .links-pagination {
            flex-direction: column;
            gap: 6rem;

            @media (width < 600px) {
                gap: 2rem;
            }

            .links {
                display: flex;
                justify-content: center;
                gap: 6rem;

                @media (width < 992px) {
                    gap: 2rem;
                }
            }

            .pagination {
                display: flex;
                justify-content: center;
                gap: 3rem;

                h3 {
                    font-size: 1.5rem;
                }

                a {
                    border-bottom: 1px solid var(--background-color-primary);

                    &:hover {
                        opacity: 80%;
                        border-bottom: 1px solid var(--accent-color);
                    }
                }
            }
        }
    }
}