@layer reset, base, navigation, components, resume, projectdetails;

/*reset*/
@layer reset {
    * {
        margin: 0;
        padding: 0;
    }

    html, body {
        font-family: var(--var-font-fam-p);
        font-size: 16px;
    }
}

/*colour variables*/
@layer base {
    :root {
        --background-color-primary: #FAFAFA;
        --background-color-secondary: #D4D4D4;
        --background-color-alternate: #1A1A1A;
        --background-color-navfoot: #050505;
        --text-color-primary: #050505; 
        --text-color-secondary: #FAFAFA;
        --text-color-alternate: #373737;
        --accent-color: #8ACEFF;
        --accent-dark: #171E23;
        --font-size-LG: 2rem;
        --font-size-M: 1.5rem;
        --font-size-S: 1rem;
        --font-size-caption: 1rem;
        --var-font-fam-h1: "Bebas Neue", sans-serif;
        --var-font-fam-h2alternate: "Ibarra Real Nova", serif;
        --var-font-fam-headings: "Red Rose", serif;
        --var-font-fam-a: "Red Rose", serif;
        --var-font-fam-body: "Roboto Flex", sans-serif;
    }

    body {
        color: var(--text-color-primary);
        background-color: var(--background-color-primary);
    }
}

@layer navigation {
    header {      
        position: sticky;
        top: 0;
        z-index: 1;

       nav {
            display: flex;
            justify-content: space-between;
            padding: 1rem 160px;

            ul {
                display: inline-flex;
                align-items: center;
                gap: 1.5rem;

                li:hover {
                    opacity: 80%;
                    border-bottom: 1px solid var(--accent-color);
                }
            }
        } 
    }
}

@layer components {
    body {
        /*heading globals*/            
        h1 {
            font-family: var(--var-font-fam-h1);
            font-size: 6rem;
            font-weight: 500;
            letter-spacing: 43%;
        }
        
        h2 {
            font-family: var(--var-font-fam-headings);
            font-size: 4rem;
            font-weight: 400;
        }

        h3 {
            font-family: var(--var-font-fam-headings);
            font-size: 3rem;
            font-weight: 400;
        }

        h4 {
            font-family: var(--var-font-fam-headings);
            font-size: 2rem;
            font-weight: 400;
        }

        /*hero h2 and project name h2, same id applied.*/
        #title-description {
                font-family: var(--var-font-fam-h2alternate);
                letter-spacing: 18%;
        }

        /*section style global*/
        section, footer, article {
            padding: 6rem 10rem;
            display: flex;
            flex-wrap: wrap;
            gap: 6rem; 
        }

        /*Paragraph style global*/
        p {
            font-family: var(--var-font-fam-body);
            font-size: var(--font-size-M);
            font-weight: 300;
            line-height: 2rem;
            margin-bottom: 1.5rem;
        }

        /*list style global*/
        ol, ul {
            font-family: var(--var-font-fam-body);
            font-size: var(--font-size-M); 
            font-weight: 300;
            line-height: 2rem; /*Design is gap 12px, but seems congested*/
            list-style: none;
            
            li {
                margin-block: 1rem;
            }
        }

        /*resume work background*/
            .style-visible {
                list-style: disc;
            }            

        /*Link style global*/
        a {
            text-decoration: none;
            color: inherit;
            font-family: var(--var-font-fam-a);
            font-size: var(--font-size-M);
            font-weight: 300;
        } 

        /*Button styles global*/
        #button-style {
            background-color: var(--background-color-alternate);
            color: var(--text-color-secondary);
            padding: 0.5rem 3rem;
            height: fit-content;
            width: fit-content;
            border-radius: 5rem;
            text-align: center;
            font-weight: 400;
            /*drop shadow*/
            
            &:hover {
                background-color: var(--accent-color);
                color: var(--text-color-alternate);
            }  
        }

        /*Colour theme class globals*/
        .light-on-dark {
            background-color: var(--background-color-navfoot);
            color: var(--text-color-secondary);
        }

        .dark-on-light {
            background-color: var(--background-color-primary);
            color: var(--text-color-alternate);

            h2, h3, h4 {
                color: var(--text-color-primary);
            }
        }

        .light-on-dark-alternate {
            background-color: var(--background-color-alternate);
            color: var(--text-color-secondary);
        }

        .dark-on-light-alternate {
            background-color: var(--background-color-secondary);
            color: var(--text-color-alternate);

            h2, h3, h4 {
                color: var(--text-color-primary);
            }
        }
    }

    main {
        /*hero section*/
        .hero {
            justify-content: space-between;
            align-items: center;
            overflow: hidden;

            & > img, div { /*regression*/
                width: 100%;
                max-width: 700px;
                object-fit: cover;
            }      

            ul {
                display: flex;
                margin-top: 1rem;

                li {
                    margin-inline: 1rem;  
                    
                    a img {/*color to be off-white*/
                        opacity: 60%;
                        width: 1.5rem;
                        
                    }
                }
            }
        }

        /*Home skills section.*/
        .skills {
            h2 {
                display: flex;
                justify-content: center;
            }

            .skill-container {
                display: flex;
                gap: 4rem;
                flex-wrap: wrap;
                justify-content: center;

                #future-skills {
                    display: none;
                }
            }
        }

        /*featured work section & porfolio.html*/
        .portfolio {
            flex-direction: column;
            
            h2 {
               text-align: center; 
            }

            .alternate {
                flex-direction: row-reverse;
            }  

            .portfolio-card {
                display: flex;
                justify-content: space-between;

                & > img {
                    width: 45%;
                    object-fit: cover;
                }
                
                & > div {
                    width: 45%;
                    align-content: center;

                    /*portfolio.html card tech stack*/
                    .project-stack {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        margin-bottom: 1.5rem;
                        gap: 1rem;                    
                    }
                }
            }
        }

        /*about me section*/
        .background {
            flex-direction: column;
            
            h2, div {
               text-align: center; 
            }

            div > img {
                width: 265px;
                height: 265px;
                object-fit: cover;
                border-radius: 0.5rem;
                margin: 0.5rem;
            }
        }
    }

    /*footer*/
    footer {
        justify-content: space-between;
        font-family: var(--var-font-fam-a);

        div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: flex-start;

            .logo-img {
                margin-bottom: 3rem;
            }
        }

        p {
            font-size: 1rem;
        }
    }
}

/*resume styling*/
@layer resume {
    .resume-main {
        background-color: var(--background-light);
        
        /*personal details section*/
        .banner {
            flex-direction: column;
            text-align: center;
            gap: 1.5rem;

            h1 {
                font-size: 1.5rem;
                letter-spacing: initial;
            }

            h4 {
                font-family: "Red Rose", sans-serif;                
                font-weight: 300;
            }

            div {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem 2rem;
                justify-content: space-between;
                font-family: "Red Rose", serif;
                font-size: 1rem;
                font-weight: 300;
            }
        }

        .resume-aboutme, .resume-portfolio {
            flex-direction: column;    
        }

        .resume-skills {
            flex-direction: column;            

            div {
                line-height: 0.5rem;

                div {
                    display: flex;
                    align-items: center;
  
                    h3 {
                        width: 180px;
                    }
                }
            }
        }

        .workbackground {
            flex-direction: column;       

            div {
                div {
                display: flex;
                justify-content:space-between;
                gap: 1rem;
                }    
                
                li {
                    list-style-type: disc;
                }
            }
        }

        .education {
            flex-direction: column;
            
            p {
                line-height: 1.5rem;
            }
        }
    }
}

/*project template styling*/
@layer projectdetails {
    .project-main {
        flex-direction: column;

        .project {/*regression??*/
            h2 {
                position: relative; /*if static then z-index with img doesnt work*/
                top: 84px;
                color: var(--text-color-primary);
                background-color: rgba(255 255, 255, 0.1);/*Semi-transparent background*/
                backdrop-filter: blur(5px);/*Blurs the background behind the element*/
                border-radius: 0.5rem;
                text-align: center;
            }

            img {
                width: 100%;
                max-height: 600px;
                object-fit: cover;
                border-radius: 0.5rem;
            }            
        }

        h2 {
            margin-bottom: 1.5rem;
            
        }

        .features-list, .problems-list {
            list-style: disc;                     
        }

        .tech-container {
            display: flex;
            gap: 4rem;
            flex-wrap: wrap;
            justify-content: center;
        }

        /*pagination and front/backend links*/
        .links-pagination {
            flex-direction: column;

            .links {
                display: flex;
                justify-content: center;
                gap: 6rem;
            }

            .pagination {
                display: flex;
                justify-content: center;
                gap: 3rem;

                h3 {
                    font-size: 1.5rem;
                }
            }
        }
    }
}